.app {
    height: 100vh;
    background: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%) no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}
